@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

<h1 style="text-align:center">Kyle Evert</h1>
<br />
<br />
<img src="img/familypic.jpeg" alt="Kyle and Family" class="center" style="width: 200px; height: 200px; " />
<br />
<br />
<p>I hope to learn C#, but more than that to learn how to be a better developer and enjoy doing the work. This includes being better at troubleshooting too!</p>
<p style="font-weight:bold;">Desired Career Paths:</p>
<ul>
    <li>Technology Consultant</li>
    <li>Data Analyst</li>
    <li>Spiderman</li>
</ul>


